body {
	background: url("images/Flora-Atrium-resized.jpg");
	background-position: fill;
	background color: #000000;
	background-repeat: repeat-x;
}	

h2{
	font-family: Tahoma, sans-serif;
	font-size: 1.5em;
	margin-top: 100px;
	margin-left: 200px;
}

p {	
	font-family: Georgia, serif;
	font-size: auto;
	color: auto;
	margin-top: 250px;
	margin-left: 250px;
	margin-bottom: ;
