body {
	background-image: url("images/stripes.png"),
	url("images/background.jpg");
	background-color: #54596A;
	background-repeat: repeat-x;
	background-size: auto;

}

h1 {
	position: fixed;
	top: 250px;
	left: 60px;
}

hr { width: 40px;
	position: fixed;
	top: 345px;
	left: 60px;
	border: 1px solid #FD6E63;
	
}



p {	font-family: Helvetica, sans-serif;
	font-size: 20px;
	color: white;
	position: fixed;
	top: 368px;
	left: 60px;
}

#tealbutton {
	position: fixed;
	top: 440px;
	left: 60px;
}

